*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/Roboto-fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "roboto";
  src: url("./assets/Roboto-fonts/Roboto-Light.ttf");
  font-weight: 500;
}
