body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/Roboto-fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "roboto";
  src: url("./assets/Roboto-fonts/Roboto-Light.ttf");
  font-weight: 500;
}