

.img-container{
    background-image: url('../../assets/aboutUs.png');
    background-size: cover;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 5rem;
    display: flex;
    justify-content: center;
}