.img-containerHelp{
    background-image: url("../../assets/ayuda2.png");
    background-size: cover;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}