
.bar-container{
    display: flex;
    justify-content: space-between;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.inp-date-container{
    display: flex;    
}

p{
    color:black;
}

.barra-nav {
    width: 1px;
    height: 1.5rem;
    background-color: white;
    margin-right: 2rem;
    margin-top: 1rem;
  }

  .second-header-container{
    
      padding: 2rem;
      display: flex;
      justify-content: left;
  }
  .search-container{
      background-color: white;
      margin-left: 2rem;
  }
  .btn-nav{
      display: none;
  }

  @media (max-width: 800px) {
    .nav-container{
        display: none;
      
    }
    .btn-nav{
        display: flex;
    }
}